# Advanced Sets

In [2]:
s=set()

In [3]:
s.add(1)

In [4]:
s.add(2)

In [5]:
s

{1, 2}

In [6]:
s.add(2)

In [7]:
s

{1, 2}

In [8]:
s.clear()

In [9]:
s

set()

In [10]:
s={1,2,3}

In [11]:
sc=s.copy()    #copy method creates copy of the original set

In [12]:
sc

{1, 2, 3}

In [13]:
s.add(4)

In [16]:
s   #adding to the original won't effect the copy

{1, 2, 3, 4}

In [17]:
sc

{1, 2, 3}

In [20]:
s.difference(sc)     #returns the element that are different between the 2 sets

{4}

In [21]:
s1={1,2,3}

In [22]:
s2={1,4,5}

In [25]:
s1.difference_update(s2)   #returned s1 after removing all the elements found in the s2

In [26]:
s1

{2, 3}

In [27]:
s

{1, 2, 3, 4}

In [28]:
s.discard(2)

In [29]:
s

{1, 3, 4}

In [30]:
s.discard(12)

In [31]:
s

{1, 3, 4}

In [32]:
s1={1,2,3}

In [33]:
s2={1,2,4}

In [35]:
s1.intersection(s2)      #elements common to both the sets

{1, 2}

In [36]:
s1

{1, 2, 3}

In [39]:
s1.intersection_update(s2)    #makes the first set equal to the intersection

In [40]:
s1

{1, 2}

In [41]:
s1={1,2}
s2={1,2,4}
s3={5}

In [42]:
s1.isdisjoint(s2)

False

In [44]:
s1.isdisjoint(s3)

True

In [45]:
s1.issubset(s2)

True

In [46]:
s2.issuperset(s1)

True

In [47]:
s1.symmetric_difference(s2)

{4}

In [48]:
s1.union(s2)

{1, 2, 4}

In [49]:
s1

{1, 2}

In [50]:
s1.update(s2)

In [51]:
s1

{1, 2, 4}