Python is a datetime module that will help us deal time stamps in our code. And the time values are represented by the time class, named attributes such as hours, minutes, seconds, microseconds etc. And it can also include timezone informations. So, the arguments to initialize the time instance are oprional but the default of zero is unlikely of what we want.

In [1]:
import datetime

In [2]:
t=datetime.time(5,25,1)

In [3]:
print(t)

05:25:01

In [4]:
t.hour

5

In [6]:
t.minute

25

In [7]:
t.second

1

In [32]:
datetime.time  #shift+tab to look at the info that we can add(hours, minutes, seconds, microseconds, timezone)

datetime.time

In [9]:
datetime.time.min     #earliest time

datetime.time(0, 0)

In [10]:
print(datetime.time.min)

00:00:00

In [11]:
print(datetime.time.max)

23:59:59.999999

In [13]:
print(datetime.time.resolution)   #the minimum value to which it can show time upto (least count type)

0:00:00.000001

In [14]:
today=datetime.date.today()

In [15]:
print(today)

2021-04-03

In [16]:
today.timetuple()

time.struct_time(tm_year=2021, tm_mon=4, tm_mday=3, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=93, tm_isdst=-1)

In [17]:
today.year

2021

In [18]:
today.month

4

In [19]:
today.day

3

In [21]:
print(datetime.date.min)   #min date possible

0001-01-01

In [22]:
print(datetime.date.resolution)

1 day, 0:00:00

In [23]:
d1=datetime.date(2020,3,11)
print(d1)

2020-03-11

In [25]:
d2=d1.replace(year=1990)     #above date replaced
d2

datetime.date(1990, 3, 11)

In [26]:
d1

datetime.date(2020, 3, 11)

In [27]:
d2

datetime.date(1990, 3, 11)

In [28]:
d1-d2          #gives difference in days

datetime.timedelta(days=10958)